@model IEnumerable<Myixy.App.Models.Line>

@{
    ViewData["Title"] = "My Heartfelt";
}

<h2>My Heartfelt</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="shadow-lg">
                        <div class=" p-3 mb-5 bg-white rounded">
                            @Html.DisplayFor(modelItem => item.Heartfelt)
                            @Html.DisplayFor(modelItem => item.CreatedDatetime)
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<style type="text/css">
    .shadow-lg {
        margin-top: 10px;
        box-shadow: 0 0 30px black;
        padding: 0 15px 0 15px;
    }
</style>